.idea/

/base/target/
/base/base.iml

/servers/connectserver/target/
/servers/connectserver/connectserver.iml

/servers/dataserver/target/
/servers/dataserver/dataserver.iml

/servers/gameserver/target/
/servers/gameserver/gameserer.iml

/servers/connectserver/.mvn/
/servers/dataserver/.mvn/
/servers/gameserver/.mvn/
