.idea/

common/target/
common/common.iml

connectserver/target/
connectserver/connectserver.iml

dataserver/target/
dataserver/dataserver.iml

gameserver/target/
gameserver/gameserer.iml

tests/target
tests/tests.iml

/servers/connectserver/.mvn/
/servers/dataserver/.mvn/
/servers/gameserver/.mvn/
